<!--Experience Tab-->
<section id="work-exp" class="bgWhite ofsInBottom">
  <!--Experience -->
  <div class="experience">
    <!--Experience Main title-->
    <app-main-title title="Work Eperience"></app-main-title>
    <!--End main title-->

    <!--Content-->
    <div class="content">
      <div class="block-content">
        <!--Timeline-->
        <div class="timeline experience">
          <!--Row-->
          <div class="row">
            <div class="col-md-12">
              <!--Experience holder-->
              <div class="exp-holder margTop">
                <!--Experience-->
                <div class="exp">
                  <div class="hgroup">
                    <h4><a href="https://fanap.ir/dotin">Dotin</a>&nbsp; [ Jul 2019 - Sep 2019 ]</h4>
                    <h6><i class="fas fa-thumbtack"></i>Tehran, Iran</h6>
                  </div>
                  <div class="tab hgroup">
                    <p class="tab">Worked with Java Technologies like Hibernate</p>
                  </div>
                  <br>
                </div>
                <!--End experience-->
                <!--Experience-->
                <div class="exp">
                  <div class="hgroup">
                    <h4><a href="https://www.alibaba.ir/">Alibaba Acedemy</a>&nbsp; [ Dec 2019 - Feb 2020 ]</h4>
                    <h6><i class="fas fa-thumbtack"></i>Tehran, Iran</h6>
                  </div>
                  <div class="tab hgroup">
                    <p class="tab">Introduced to C#</p>
                    <p class="tab">Built a Booking and URL Shortener application with C#</p>
                    <p class="tab">Built a URL Shortener application with Golang</p>
                    <p class="tab">Familiar with Test-Driven Development and Behavioural Testing</p>
                  </div>
                  <br>
                </div>
                <!--End experience-->
              </div>
              <!--End experience holder-->
            </div>
          </div>
          <!--End row-->
        </div>
        <!--End timeline-->
      </div>

    </div>
    <!--End content-->

    <!--Button-->
    <div class="button margTop ofsInTop tCenter">
      <!--Row-->
      <app-divider></app-divider>
      <!--End row-->
    </div>
    <!--End button-->
  </div>
  <!--End experience-->
</section>
<!--End experience tab-->
