<!--Education Tab-->
<section id="education" class="bgWhite ofsInBottom">
  <!--education -->
  <div class="expertise">
    <!--Education Main title-->
    <app-main-title title="Education"></app-main-title>
    <!--End main title-->
    <!--Content-->
    <div class="content">
      <div class="block-content">
        <!--Timeline-->
        <div class="timeline education">
          <!--Row-->
          <div class="row">
            <div class="col-md-12">
              <!--Education holder-->
              <div class="exp-holder margTop">
                <!--Education-->
                <div class="exp">
                  <div class="hgroup">
                    <h4> B.Sc. Computer Engineering &nbsp; [ 2017 - current ]</h4>
                    <h6><i class="fas fa-thumbtack"></i><b class="bold"><a class="gpacolor" href="http://aut.ac.ir/aut/">Amirkabir University of Technology</a></b>, Tehran, Iran (<a href="http://www.usnews.com/education/best-global-universities/amirkabir-university-of-technology-506266" class="gpacolor">Ranked 85th in Computer Science [U.S. News])</a></h6>
                  </div>
                  <!-- <p class="tab"><b>GPA</b>: <b class="gpacolor">[ 18.94 / 20 ]</b></p> -->
                  <br>
                  <div class="hgroup tab">
                    <h6 class="tab"><i></i><b>Selected Courses:</b></h6>
                    <ul class="two-col-special">
                      <li><b>Introductionto Programming</b> : [18.25/20]</li>
                      <li><b>Advanced Programming</b> : [19/20]</li>
                      <li><b>Algorithm Design</b> : [16.5/20]</li>
                      <li><b>Principles and Applications of Artificial Intelligence</b> : [19.74/20]</li>
                      <li><b>Operation Systems</b> : [18.1/20]</li>
                    </ul>
                  </div>
                </div>
                <!--End education-->
              </div>
              <!--End education holder-->
            </div>
          </div>
          <!--End row-->
        </div>
        <!--End timeline-->
      </div>
    </div>
    <!--End content-->

    <!--Button-->
    <div class="button margTop ofsInTop tCenter">
      <!--Row-->
      <app-divider></app-divider>
      <!--End row-->
    </div>
    <!--End button-->
  </div>
  <!--End education-->
</section>
<!--End education tab-->
