<!--About Tab-->
<section id="about" class="bgWhite ofsInBottom">
  <!--About -->
  <div class="about">
    <!--Main title-->
    <app-main-title title="Who am I?"></app-main-title>
    <!--End main title-->
    <!--Content-->
    <div class="content">

      <!--Block content-->
      <div class="block-content margBSmall">

        <div class="profile margBSmall">
          <h1>ELAHE DASTAN</h1>
          <h3>Backend Developer</h3>
        </div>

        <!--Row-->
        <div class="row">
          <div class="col-md-8">
            <p>
              I am a computer engineer student and passionate Software Engineer. I love to write programs and solving challenges. I have a passion for learning new things and trying to find out how things work. I have earned high scores in my professional courses like Advanced Programming, Introduction to Programming, Data Structures, etc. I am a fast learner in programming languages and learned C# and its frameworks by defining project for myself.
            </p>
            <br>
            <img src="assets/img/main.jpg" alt="Elahe Dastan">
          </div>
          <!--
          <div class="col-md-4">
            <b style="font-size:18px; font-weight: bold">Interests:</b>
            <ul class="bullet">
            </ul>
          </div>
          -->
        </div>
        <!--End row-->
      </div>
      <!--End block content-->
    </div>
    <!--End content-->

    <!--Button-->
    <div class="button margTop ofsInTop tCenter">
      <!--Row-->
      <app-divider></app-divider>
      <div class="row">
        <div class="col-md-12">
          <a target="_blank" href="https://github.com/elahe-dastan/elahe-dastan.github.io/raw/src/resume/resume.pdf" class="but opc-2"><i class="fas fa-paperclip"></i> Here's my CV</a>
        </div>
      </div>
      <!--End row-->
    </div>
    <!--End button-->
  </div>
  <!--End about-->
</section>
<!--End about tab-->
