<!--Contact Tab-->
<section id="contact" class="bgWhite ofsInBottom">
  <!--Contact -->
  <div class="contact">
    <!--Main title-->
    <app-main-title title="Contact Me"></app-main-title>
    <!--End main title-->
    <!--Content-->
    <div class="content">

      <!--Block content-->
      <div class="block-content margBSmall">

        <!--Row-->
        <div class="row">
          <div class="col-md-8">
            <b style="font-weight: bold"><i class="fab fa-google"></i> Email</b>:&nbsp; elahe.dstn <b style="font-weight: bold">at</b> gmail <b style="font-weight: bold">dot</b> com
            <br/>
            <b style="font-weight: bold"><i class="fab fa-skype"></i> Skype</b>:&nbsp; elahe.dstn
            <app-divider></app-divider>
          </div>
          <div class="col-md-4">
            <a href="https://api.github.com/users/elahe-dastan/keys" target="_blank" role="button" class="btn btn-outline-dark">Public Keys</a>
          </div>
        </div>
        <!--End row-->
      </div>
      <!--End block content-->
    </div>
    <!--End content-->
  </div>
  <!--End contact-->
</section>
<!--End contact tab-->
